<div class="container">
  <div>

    <h1 class="display-4"><%= @list.name %></h1>

  </div>
<br>



<% @list.movies.each do |movie| %>
  <div class="card-trip">
    <img src= <%= movie.poster_url %> />
    <div class="card-trip-infos">
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    </div>
      <% movie.bookmarks.each do |bookmark| %>
        <h6> Comentario: <%= bookmark.comment %> </h6>
        <h5><%= link_to "Borrar", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Seguro que quiere remover #{movie.title} de su lista #{@list.name}"}, class: 'text-danger' %></h5>
      <% end %>
  </div>
<% end %>


<br>
<%= link_to("Volver a las listas", lists_path) %>
<br>
<%= link_to("Agregar Bookmark", new_list_bookmark_path(@list)) %>
</div>
